
.more-games-cross-promo-button {
    /* width: 10%; */
	height: 8%;
    position: fixed;
	right:2%;
	top:1%;
    display: none;
	z-index:2799999;
}

.more-games-cross-promo-button .button-image{
   
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 20%;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.75);
}